@page "/"
@code
{
    //INIT
    private int _questionNumber = 0;
    private Question _question = null;
    private QuestionRepository _questions = new QuestionRepository();
    //  private string _file = "";

    private void Next()
    {

        _question = _questions.NextQuestion(_questionNumber);
        _questionNumber = _question.Number;
    }
}

@{
    _question = _questions.ShowQuestion(_questionNumber);
}
<h1>Donkere Gedachten</h1>

<img src="@_question.File.ToString()" class="Image" />
<br />
<hr />
<br />
<button @onclick="Next">Volgende</button>








