@page "/"
@code
{
    //INIT
    private Question _question = null;
    private QuestionRepository _questions = new QuestionRepository();

    private void NextQuestion()
    {
        _question = _questions.NextQuestion();
    }

}

@{
    _question = _questions.ShowQuestion();
}
<h1>Donkere Gedachten</h1>

<img src="@_question.File.ToString()" class="Image" />
<br />
<hr />
<br />
<button class="btn-primary" @onclick="NextQuestion">Volgende</button>










