@page "/Info"
<h3>Spel info</h3>
<div>
    <p>
        Voel je je soms <strong>
        </strong>eenzaam? Heb je het <strong>lastig</strong> met jezelf? Heb je <strong>stress</strong> of <strong>faalangst</strong>?
    </p>
    <p>
        We <strong>denken</strong> vaak <strong>dat we de enige zijn</strong>, maar dat is niet zo. Iedereen heeft weleens donkere gedachten.
    </p>
    <p>
        <strong>Erover praten helpt.</strong> Maar hoe begin je daaraan? WAT WAT kan je helpen!
    </p>
    <p>
        <a href="https://www.watwat.be">WAT WAT</a> maakte een <strong>kaartspel</strong> samen met <a href="https://awel.be">Awel</a>, <a href="https://www.zelfmoord1813.be">Zelfmoord1813</a> en <a href="https://www.gezondleven.be">Vlaams Instituut Gezond Leven</a>.
        Met <strong>38 vragen of 'gespreksstarters'</strong> om te praten over hoe het écht met je gaat.
            <a href="https://www.ddsoft.be">DDSoft vzw</a> organiseert praat momenten om met deze kaarten op deze virtuele omgeving (deze website in combinatie met een videocall) aan de slag te gaan.
    </p>
    <p>
        Je kan filmpjes van het donkere gedachten spel bekijken <a href="https://www.youtube.com/watwat_jijweet">hier op het WAT WAT YouTube kanaal</a>.
    </p>
    <p>
        Dit web project is Gratis en Open Source. Je kan de bron <a href="https://github.com/DDSoftDennie/DonkereGedachten">Hier op GITHUB</a> raadplegen.
    </p>

    <p></p>
</div>
   

    @code {

    }
