body {
    
}

.Image{
    width: 500px;
}
.DDFooter {
    background-color: darkred;
    color: white;
    text-align: center;
}
.DDFooter a{
    color: white;
    text-decoration:solid;
    font-weight:bold;
}
.DDFooter a:hover{
    color: yellow;
}
    .DDFooter a:visited {
        color: white;
        text-decoration: solid;
    }